<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Books</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p th:text="|Locale : ${#locale}|"></p>
    <!--  list books with author and a link to a detail page-->
    <!--   and style the books with using bootstrap using .map-->
    <div sec:authentication="name"></div>
    <p sec:authentication="principal.authorities"></p>
    <h1>Books</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, status : ${bookList}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.price}"></td>
            <td><a th:href="@{/books/{path}(path=${book.id})}" th:text="Details"></a></td>
        </tr>
<!--        <tr>-->
<!--            <td>Book 1</td>-->
<!--            <td>Author 1</td>-->
<!--            <td><a href="/books/1">Detail</a></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Book 2</td>-->
<!--            <td>Author 2</td>-->
<!--            <td><a href="/books/2">Detail</a></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Book 3</td>-->
<!--            <td>Author 3</td>-->
<!--            <td><a href="/books/3">Detail</a></td>-->
<!--        </tr>-->
        </tbody>
    </table>


    <!--    <form class="form-signin" method="post" action="/login" data-bitwarden-watching="1">-->
    <!--        <h2 class="form-signin-heading">Please sign in</h2>-->
    <!--        <p>-->
    <!--            <label for="username" class="sr-only">Username</label>-->
    <!--            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">-->
    <!--        </p>-->
    <!--        <p>-->
    <!--            <label for="password" class="sr-only">Password</label>-->
    <!--            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">-->
    <!--        </p>-->
    <!--        <input name="_csrf" type="hidden" value="MB2eU54GlE29YLYRf0hQaGGJ6H_E3Yq89bjJNjO1vPT8bXrXVHj6Mv9l93qQUINzHWVkXAOxxUen7eiRl9v5D1XThcKaDh7l">-->
    <!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
    <!--    </form>-->
</div>
</body>
</html>